/* bright theme */
/* :root {
  --grid: rgb(40, 92, 72);
  --gruv: rgb(126, 139, 95);
  --lnk: lime;
  --priclr: lime;
  --priclr2: rgb(0, 133, 0);
  --secclr: hotpink;
  --secclr2: lavenderblush;
  --pribg:black;
  --pribg2:rgba(0, 0, 0, 0.8);
  --pribgc:white;
  --pribrd:var(--pribgc);
  --pntd:var(--pribgc);
} */

/* light theme */
/* :root {
  --on: green;
  --off: rgb(155, 0, 0);
  --msc: var(--priclr);
  --grid: rgb(40, 92, 72);
  --header:var(--grid);
  --gruv: rgb(126, 139, 95);
  --lnk: rgb(255, 89, 0);
  --priclr: rgb(0, 133, 0);
  --priclr2: var(--grid);
  --secclr: hotpink;
  --secclr2: rgb(62, 0, 21);
  --pribg:white;
  --pribg2:rgba(255, 255, 255, 0.8);
  --pribgc:black;
  --pribrd:var(--pribgc);
  --pntd:var(--pribgc);
} */

/* default theme */
:root {
  --on: green;
  --off: rgb(155, 0, 0);
  --msc: var(--priclr);
  --grid: rgb(40, 92, 72);
  --gruv: rgb(126, 139, 95);
  --lnk: lime;
  --priclr: rgb(0, 133, 0);
  --priclr2: var(--grid);
  --header: var(--priclr);
  --secclr: hotpink;
  --secclr2: lavenderblush;
  --pribg:black;
  --pribg2:rgba(0, 0, 0, 0.8);
  --pribgc:white;
  --pribrd:var(--pribgc);
  --pntd:var(--pribgc);

  --stpri: rgb(50, 205, 50);
  --stlnk: hotpink;
}
html,
body {
  background-color: black;
  background-image: url("images/greengrid.jpg");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  /* padding-top: 32px; */
  color: var(--pntd);
  font-family: "Times New Roman", Times, serif;
}


::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: jmono;
  src: url("fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: gs;
  src: url("fonts/generalsans-regular-webfont.woff");
}
@font-face {
  font-family: hmp;
  src: url("fonts/hmp/13.ttf");
}
@font-face {
  font-family: hmp2;
  src: url("fonts/hmp/02.ttf");
}
@font-face {
  font-family: hmp3;
  src: url("fonts/hmp/05.ttf");
}
@font-face {
  font-family: dcd;
  src: url("fonts/decoder.ttf");
}


*::selection{
  background-color: var(--grid);
  color: white;
}

.btnshadow {
  /* cursor: pointer; */
  color: var(--pribg);
  box-shadow: 2px 2px 0px var(--pribgc);
  background-color: var(--priclr2);
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlinksbox {
  line-height: 1.2;
  border: var(--priclr) 2px solid;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  font-family: "dcd", Georgia, "Times New Roman", Times, serif;
}
.navlinksbox li:hover {
  outline: 2px solid var(--priclr2) !important;
}
.navlinktext {
  text-decoration: underline;
}
.activeTab {
  letter-spacing: 1.2px;
  color: var(--pntd);

}
.inactiveTab {
  letter-spacing: 1.2px;
  color: var(--priclr);
}
.inactiveTab:hover {
  color: var(--pntd);
}
.navlinksbox li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contactlinks {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.2;
  color: var(--priclr);
  border: var(--priclr) 2px solid;
  font-size: 14px;
  font-family: "dcd", Georgia, "Times New Roman", Times, serif;
}

.emailphase {
  animation: pulse 1s linear infinite;
}
.emailphase:hover {
  opacity: 1;
  animation-play-state: paused;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.techimgs img {
  box-shadow: 2px 2px 0px white;
}

.welcome p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--secclr2);
  font-style: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 15px;
}

.statusloglink:hover {
  color: var(--secclr2);
}
.statusloglink::before {
  content: "statusLog....";
  font-size: 20px;
  font-family: "dcd";
  display: none;
}
.statusloglink:hover::before {
  display: inline;
}

.imgwrap img {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left bottom;
}
.img1:hover {
  border: var(--priclr2) 1px solid;
  transform: scale(1.2);
  z-index: 10;
}
.img1 {
  border: 1px var(--priclr) solid;
}
.imgclicked {
  border: var(--priclr) 1px solid;
  transform: scale(2) translate(-2px, 2px);
  z-index: 10;
}
.imgclicked:hover {
  border-color: var(--priclr2);
}


.marquee {
  overflow: hidden;
}

.marquee .spotifystatusAnim {
  display: inline-block;
  padding-left: 110%;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}